.about {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
}

.aboutGraphic {
  position: relative;
}

.aboutImg {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.aboutImgOutline {
  position: absolute;
  left: -40px;
  top: 40px;
  height: 500px;
  width: 350px;
  border-radius: 10px;
  border: 2px solid $primary;
  z-index: -1;
}

.buttons {
  padding: 30px 0;
}

.aboutBtn {
  margin-right: 20px;
}
