.footerLargeWrapper {
  max-width: 1800px;
  width: 100vw;
  margin: 0 auto;
  background-color: $secondary;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 20px;
}

.footerText {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
  font-size: 1.4rem;
}

.footerNav {
  display: flex;
}

.footerNav li {
  margin: 0 10px;
  a {
    display: inline-block;
    &::after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      background-color: $primary;
      transition: all 0.3s;

    }
    &:hover::after {
      width: 100%;
    }
  }
}

.footerSocial {
  display: flex;
  padding-top: 0;

  img {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

span.accentLineFooterMiddle {
  display: none;
}
