html {
  font-size: 62.5%;
}

body {
  font-family: $baseFont;
  overflow-x: hidden;
}

.largeWrapper {
  max-width: 1280px;
  width: 85vw;
  margin: 0 auto;
  max-height: 80vh;
  background-color: $secondary;
  border-radius: 10px;
}

.wrapper {
  max-width: 1080px;
  width: 65vw;
  margin: 0 auto;
}

h2 {
  font-weight: 600;
  font-size: 2.4rem;
}

button {
  border: 2px solid transparent;
  font-size: 1.4rem;
  font-family: $baseFont;
  font-weight: 500;
  background-color: $primary;
  border-radius: 7px;
  padding: 8px 12px;
  width: 135px;
  transition: all 0.5s;
  &:hover,
  &:focus {
    border: 2px solid $primary;
    background-color: transparent;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
