@media (min-width: 3500px) {
  .largeWrapper .footerLargeWrapper {
    max-width: 2500px;
  }

  .headerBar {
    p {
      font-size: 3.5rem;
    }
  }

  span.accentLine {
    width: 225px;
  }

  h1 {
    font-size: 8.5rem;
  }

  .headerP {
    font-size: 2.7rem;
  }

  .headerRight {
    height: auto;
    margin-top: 100px;
    img {
      width: 650px;
      height: 650px;
    }
  }

  .chevron {
    margin-bottom: 20px;
  }

  .skillLogos {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .skillLogos li img {
    height: 150px;
  }

  .contactImg {
    width: 450px;
  }

  .contactForm input {
    width: 95%;
  }
}

@media (min-width: 2520px) {
  .largeWrapper {
    height: auto;
  }

  .headerLeft {
    height: auto;
    margin-top: 300px;
  }
}

@media (min-width: 2000px) {
  .sbLogo {
    width: 125px;
    height: 125px;
  }

  span.accentLine {
    width: 175px;
  }

  h1 {
    font-size: 7.5rem;
  }

  .headerP {
    font-size: 2.2rem;
  }

  .socialNav {
    img {
      width: 25px;
      height: 25px;
      margin-right: 25px;
    }
  }

  .headerRight {
    img {
      width: 600px;
      height: 600px;
    }
  }
}

@media (max-width: 1366px) {
  .headerRight {
    bottom: 0;
    img {
      width: 450px;
      height: 450px;
    }
  }

  .aboutImg {
    width: 350px;
  }

  .aboutImgOutline {
    width: 325px;
  }

  .skillLogos {
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  }

  .webDevImg1 {
    width: 275px;
  }
}

@media (max-width: 1270px) {
  .headerNav ul {
    li {
      font-size: 1.6rem;
    }
  }

  h1 {
    font-size: 5rem;
  }

  .headerP {
    font-size: 1.6rem;
  }

  .headerRight {
    img {
      width: 400px;
      height: 400px;
    }
  }

  .aboutImgOutline {
    width: 300px;
  }
}

@media (max-width: 1192px) {
  .webDev {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .webDevImg1,
  .webDevImg2,
  .webDevImg3,
  .webDevImg4 {
    width: 100%;
    height: 300px;
  }

  .description1,
  .description2,
  .description3,
  .description4 {
    height: 300px;
  }

  .webDevImg1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    order: 1;
  }

  .description1 {
    grid-column-start: 1;
    grid-column-end: 2;
    order: 0;
  }

  .webDevImg2 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .webDevImg3 {
    grid-column-start: 2;
    grid-column-end: 3;
    height: 300px;
  }

  .webDevImg4 {
    grid-column-start: 1;
    grid-column-end: 2;
    order: 2;
    height: 300px;
  }
  .description2 {
    grid-column-start: 2;
    grid-column-end: 3;
  }

  .description3 {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .description4 {
    grid-column-start: 2;
    grid-column-end: 3;
    order: 3;
  }

  .contactContainer {
    margin: 0 0 100px 0;
  }

  .contactHeading {
    text-align: center;
    margin-bottom: 50px;
  }

  .contact {
    margin-top: 0;
  }

  .contactForm {
    grid-template-columns: 1fr;
  }

  .contactForm input {
    width: 100%;
    margin-right: 0;
  }

  .userMessage {
    margin-bottom: 20px;
  }
}

@media (max-width: 1130px) {
  .headerNav ul {
    li {
      font-size: 1.4rem;
    }
  }

  h1 {
    font-size: 4.5rem;
  }

  .headerP {
    font-size: 1.4rem;
  }

  .headerRight {
    img {
      width: 375px;
      height: 375px;
    }
  }

  .contactImgOutline {
    left: -30px;
    top: 30px;
    width: 225px;
  }

  .footerText {
    flex-direction: column;
  }

  span.accentLineFooterMiddle {
    display: initial;
    margin: 40px 0 10px 0;
  }
  span.accentLineFooterBottom {
    display: none;
  }

  .footerSocial {
    margin-bottom: 40px;
    img {
      margin: 0 10px;
    }
  }
  .copyright {
    order: 1;
  }
}

@media (max-width: 1024px) {
  .largeWrapper {
    height: 100%;
    margin-bottom: 30px;
  }
  .headerSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .headerLeft {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 50px 0;
  }

  .socialNav {
    display: none;
  }

  .headerRight {
    position: static;
  }

  .socialNavBtm {
    display: flex;
    justify-content: center;
  }

  .scrollIndicator {
    display: none;
  }

  .about {
    flex-direction: column;
    align-items: center;
  }

  .aboutImgOutline {
    width: 350px;
  }

  .aboutText {
    order: -1;
    margin: 0;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .aboutBtn {
    margin-bottom: 20px;
  }

  .skillsHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 884px) {
  header {
    position: relative;
  }

  .headerNav ul {
    position: absolute;
    top: -100%;
    right: 0;
    padding: 10px 0;

    li {
      margin: 15px;
      text-align: center;
      font-weight: 500;
      font-size: 1.8rem;
    }
  }

  label.toggle {
    display: initial;
  }

  input[type="checkbox"]:checked + ul.headerNavList {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    height: 400px;
    background-color: $white;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.7s;
  }

  .skillLogos {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .webDev,
  .graphicDesign {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .webDevImg1,
  .webDevImg2,
  .webDevImg3,
  .webDevImg4,
  .description1,
  .description2,
  .description3,
  .description4 {
    grid-column-start: 1;
    grid-column-end: 2;
    height: 400px;
    width: 100%;
  }

  .webDevImg1 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .description2 {
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .description3 {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .description4 {
    grid-row-start: 7;
    grid-row-end: 8;
  }

  .graphicImg1,
  .graphicImg2,
  .graphicImg3,
  .graphicImg4,
  .graphicDescription1,
  .graphicDescription2,
  .graphicDescription3,
  .graphicDescription4 {
    height: 400px;
  }

  .graphicDescription1,
  .graphicDescription2,
  .graphicDescription3,
  .graphicDescription4 {
    width: 100%;
  }

  .graphicDescription1 {
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .graphicDescription3 {
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .contact {
    align-items: center;
  }

  .contactForm {
    justify-items: center;
    margin-bottom: 20px;
  }

  .contactGraphic {
    display: none;
  }

  .contact {
    width: 100%;
    margin-left: 0;
  }

  .userInputs {
    width: 100%;
  }

  .contactForm input {
    margin: 0 0 20px 0;
    width: 100%;
  }

  .contactForm button {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .skillLogos {
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  }
}

@media (max-width: 700px) {
  .webDevImg1,
  .webDevImg2,
  .webDevImg3,
  .webDevImg4,
  .description1,
  .description2,
  .description3,
  .description4,
  .graphicImg1,
  .graphicImg2,
  .graphicImg3,
  .graphicImg4,
  .graphicDescription1,
  .graphicDescription2,
  .graphicDescription3,
  .graphicDescription4 {
    height: 350px;
  }
}

@media (max-height: 675px) {
  .headerRight {
    img {
      height: 400px;
      width: 400px;
    }
  }
}

@media (max-height: 600px) {
  .largeWrapper {
    height: auto;
    padding-bottom: 20px;
  }

  .headerLeft {
    height: auto;
    margin-top: 100px;
  }

  .headerRight {
    bottom: -40px;
    img {
      height: auto;
      width: 350px;
    }
  }
}

@media (max-width: 580px) {
  .wrapper {
    width: 70vw;
  }

  .headerBar {
    p {
      font-size: 1.6rem;
    }
  }

  .headerRight {
    img {
      width: 325px;
      height: 325px;
    }
  }

  .aboutImg {
    width: 275px;
    height: 350px;
  }
  .aboutImgOutline {
    width: 275px;
    height: 350px;
  }
}

@media (max-width: 535px) {
  .webDevImg1,
  .webDevImg2,
  .webDevImg3,
  .webDevImg4,
  .description1,
  .description2,
  .description3,
  .description4,
  .graphicImg1,
  .graphicImg2,
  .graphicImg3,
  .graphicImg4,
  .graphicDescription1,
  .graphicDescription2,
  .graphicDescription3,
  .graphicDescription4 {
    height: 300px;
  }

  .footerNav {
    flex-direction: column;
    text-align: center;
    margin-left: 0;

    li {
      margin-bottom: 20px;
    }
  }

  span.accentLineFooterMiddle {
    margin-top: 20px;
  }
}

@media (max-width: 465px) {
  .aboutImg,
  .aboutImgOutline {
    width: 225px;
    height: 325px;
  }

  .skillLogos {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media (max-width: 418px) {
  .buttons {
    display: flex;
    flex-direction: column;
  }
  .aboutBtn {
    margin-right: 0;
  }
}

@media (max-width: 414px) {
  .headerBar {
    p {
      font-size: 1.4rem;
    }
  }

  .headerButtons {
    display: flex;
    flex-direction: column;
  }

  .headerButtons a:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .headerRight {
    img {
      width: 250px;
      height: 250px;
    }
  }

  .webDevHeading {
    text-align: center;
    line-height: 1.4;
  }

  .webDevImg1,
  .webDevImg2,
  .webDevImg3,
  .webDevImg4,
  .description1,
  .description2,
  .description3,
  .description4,
  .graphicImg1,
  .graphicImg2,
  .graphicImg3,
  .graphicImg4,
  .graphicDescription1,
  .graphicDescription2,
  .graphicDescription3,
  .graphicDescription4 {
    height: 250px;
  }
}

@media (max-width: 394px) {
  .aboutImg,
  .aboutImgOutline {
    width: 200px;
    height: 300px;
  }

  .aboutImgOutline {
    left: -20px;
    top: 20px;
  }
}

@media (max-width: 350px) {
  .headerBar {
    p {
      font-size: 1.2rem;
    }
  }

  h1 {
    font-size: 4rem;
  }

  .headerRight {
    img {
      width: 225px;
      height: 225px;
    }
  }

  .skillLogos {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }
}
