.webDevProjects,
.graphicDesignProjects {
  margin: 100px 0;
}

.projectsHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.webDev {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.webDevImg1 {
  width: 100%;
  height: 500px;
  object-fit: cover;
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 5px;
  position: relative;
}

.webDevImg1::after {
  content: ". . .";
  color: $tertiary;
  font-size: 2rem;
  position: absolute;
  top: 20%;
  right: -20px;
}

.webDevImg2 {
  position: relative;
}

.webDevImg2::after {
  content: ". . .";
  color: $tertiary;
  font-size: 2rem;
  position: absolute;
  bottom: -20px;
  right: 45%;
  transform: rotate(90deg);
}

.webDevImg3 {
  position: relative;
}

.webDevImg3::before {
  content: ". . .";
  color: $tertiary;
  font-size: 2rem;
  position: absolute;
  top: 40%;
  left: -20px;
}

.webDevImg4 {
  position: relative;
}

.webDevImg4::before {
  content: ". . .";
  color: $tertiary;
  font-size: 2rem;
  position: absolute;
  top: -20px;
  right: 21%;
  transform: rotate(90deg);
}

.webDevImg2,
.webDevImg3,
.webDevImg4 {
  height: 240px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.description1,
.description2,
.description4 {
  height: 240px;
}
.description2 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.description3 {
  grid-row-start: 3;
  grid-row-end: 5;
}

.webDevImg4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.graphicDesign {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 40px 0;
}

.graphicImg1,
.graphicImg2,
.graphicImg3,
.graphicImg4 {
  height: 240px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.graphicImg1 {
  position: relative;
}

.graphicImg1::after {
  content: ". . .";
  position: absolute;
  color: $tertiary;
  font-size: 2rem;
  top: 45%;
  right: -20px;
}
.graphicImg2 {
  position: relative;
}

.graphicImg2::before {
  content: ". . .";
  position: absolute;
  color: $tertiary;
  font-size: 2rem;
  top: 45%;
  left: -20px;
}
.graphicImg3 {
  position: relative;
}

.graphicImg3::after {
  content: ". . .";
  position: absolute;
  color: $tertiary;
  font-size: 2rem;
  top: 45%;
  right: -20px;
}
.graphicImg4 {
  position: relative;
}

.graphicImg4::before {
  content: ". . .";
  position: absolute;
  color: $tertiary;
  font-size: 2rem;
  top: 45%;
  left: -20px;
}

.projDescription {
  background: linear-gradient(to top, $primary, $secondary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  p {
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 5px auto;
    max-width: 90%;
  }
}

.projectLinks {
  display: flex;
  justify-content: center;
}

.projectLinks a,
.projDescription a {
  transition: all 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.projectsLink {
  height: 20px;
  margin: 20px 20px 0 20px;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 20px;
}
