.skills {
  margin: 150px 0 100px 0;
}

.skillLogos {
  max-width: 1050px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 25px;
  justify-items: center;
}

.skillLogos li img {
  height: 100px;
}

.skill {
  text-align: center;
}

.skill h3 {
  text-align: center;
}
